.aboutSection {
  background-color: var(--paleCherry);
  padding: 20px 20px;
  text-align: center;
  color: var(--paleCrumble);
}

.aboutSection > h2 {
  font-size: 2rem;
  font-style: italic;
}

.aboutPhoto {
  width: 80vw;
  margin: 0 0 20px;
  border-radius: 100px 100px 0 0;
  box-shadow: -10px 10px 0 var(--cherry);
}

.cherryFlower {
  width: 80px;
  position: absolute;
  right: 25px;
  transform: rotate(-20deg);
  filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.3));
}

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
