.aboutSection {
  background-color: var(--paleCherry);
  padding: 20px;
  text-align: center;
  color: var(--paleCrumble);
}

.aboutSection > h2 {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 20px;
}

.photoFrame {
  position: relative;
}

.aboutPhoto {
  width: 80vw;
  margin: 0px 0 20px;
  border-radius: 100px 100px 0 0;
  box-shadow: -10px 10px 0 var(--cherry);
}

.flowerField {
  margin-top: 20px;
  width: 90vw;
  /* position: absolute; */
  /* right: 0px; */
  /* top: 0; */
  /* bottom: 0px; */
  /* transform: rotate(-40deg); */
  /* filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0)); */
}

@media screen and (min-width: 575px) {
  .aboutPhoto {
    width: 60vw;
    box-shadow: -15px 15px 0 var(--cherry);
    margin: 0 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .aboutPhoto {
    width: 40vw;
  }
}

@media screen and (min-width: 992px) {
  .photoFrame {
    float: left;
    /* position: relative; */
  }

  .aboutPhoto {
    margin: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .aboutPhoto {
    width: 30vw;
  }
}

@media screen and (min-width: 1400px) {
}
