.serviceSection {
  background-color: var(--paleCrumble);
  text-align: center;
  padding: 20px;
  color: var(--meadow);
}

.serviceHeader > h2 {
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.serviceMenu {
  display: inline-block;
  color: var(--meadow);
  margin: 10px 10px;
  padding: 5px;
  border-radius: 5%;
  border: 1px solid var(--meadow);
}

.activeService {
  background-color: var(--meadow);
  color: var(--paleCrumble);
}