.wave {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.topPosition {
  top: 0;
}

.bottomPosition {
  bottom: 0;
}

#frameSVG svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 79px;
}

.sageFill {
  fill: var(--sage);
}

.meadowFill {
  fill: var(--meadow);
}

.crumbleFill {
  fill: var(--crumble);
}
