:root {
  --sage: rgb(115, 132, 98);
  --meadow: rgb(92, 107, 42);
  --paleCherry: rgb(154, 91, 110);
  --cherry: rgb(102, 10, 35);
  --paleCrumble: rgb(218, 204, 175);
  --crumble: rgb(192, 174, 136);
}

#homePage > section > p {
  padding-left: 30px;
  padding-right: 30px;
}

#homePage > section {
  position: relative;
  overflow: hidden;
}

#homePage > section > p,
#homePage > section > div > div > p {
  text-align: center;
}

.hero {
  height: 100vh;
  width: auto;
}

.heroWords {
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  width: 100vw;
}

.heroWords > p,
.heroWords > button {
  margin: 0 auto;
}

.heroWords > p:first-child {
  font-size: 3rem;
}

.heroWords > button {
  /* width: 100vw; */
}

.whatDoula,
.faqBanner {
  background-color: var(--sage);
  color: var(--paleCrumble);
}

.whatDoula h2 {
  margin: 40px auto 15px;
  font-size: 2rem;
  text-align: center;
}

.whatDoula p,
.whyDoula p {
  margin-bottom: 30px;
}

.bee {
  position: absolute;
  width: 80px;
  height: 70px;
  background-image: url(../../assets/beeCrumbleCutout.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.8;
}

.beeOne {
  top: 30px;
  right: -5px;
  transform: rotate(-55deg);
}

.beeTwo {
  top: 5px;
  left: 30px;
  transform: rotate(30deg);
  z-index: 1;
}

.whyDoula {
  background-color: var(--meadow);
  color: var(--paleCrumble);
}

.whyDoula h2 {
  margin: 15px auto;
  font-size: 2rem;
  text-align: center;
}

.beeThree {
  bottom: 0px;
  right: 50px;
  transform: rotate(115deg);
}

.bannerPhoto {
  background-image: url("../../assets/ImageThree.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100vw;
}

.serviceBanner {
  background-color: var(--crumble);
  width: 100vw;
  padding: 30px 20px 40px;
}

.serviceBanner > div {
  display: flex;
  justify-content: end;
}

.lilly {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40vw;
  height: 250px;
  background-image: url(../../assets/LillyStencil.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 999;
}

.serviceWords {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 60vw;
}

.serviceWords > h2 > a {
  color: var(--meadow);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
}

.serviceWords > p {
  color: var(--meadow);
}

.serviceWords > a {
  color: var(--crumble);
  background-color: var(--meadow);
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 15px;
}

.serviceWords > a:hover {
  box-shadow: 5px 5px 10px var(--sage);
  color: white;
}

.aboutBanner {
  background-color: var(--paleCherry);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutBanner h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--paleCrumble);
}

.aboutBanner p {
  color: var(--paleCrumble);
}

.aboutBanner > img {
  width: 80vw;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 2px solid var(--cherry);
}

.aboutBanner > p > a {
  color: var(--paleCrumble);
  margin-left: 10px;
  font-style: italic;
}

.aboutBanner > p > a:hover {
  color: white;
}

.faqBanner {
  display: flex;
  align-items: center;
}

#faqHeader {
  margin: 0 0 40px 20px;
  color: var(--crumble);
  line-height: 0.9;
  text-shadow: -5px -4px 2px var(--meadow);
}

#faqHeader > span {
  font-size: 4rem;
  color: var(--paleCrumble);
}

.second {
  margin-left: 1rem;
}

.third {
  margin-left: 2.5rem;
}

.faqBanner > p > a {
  color: var(--paleCrumble);
  font-style: italic;
}

.faqBanner > p > a:hover {
  color: white;
}

.testimonialBanner {
  background-color: var(--cherry);
}

.multiWaves {
  aspect-ratio: 900/450;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0px;
}

.multiCherryCrumbleSVG {
  background-image: url(../../assets/smallCherryCrumble.svg);
}

.multiCherrySageSVG {
  background-image: url(../../assets/smallCherrySage.svg);
}

.flip {
  transform: rotate(180deg);
}

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .multiWaves {
    aspect-ratio: 1800/450;
  }

  .multiCherryCrumbleSVG {
    background-image: url(../../assets/bigCherryCrumble.svg);
  }

  .multiCherrySageSVG {
    background-image: url(../../assets/bigCherrySage.svg);
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
