/* UPDATE FROM CHATGPT */
#homePage > section > p {
  padding-left: 30px;
  padding-right: 30px;
}

#homePage > section {
  position: relative;
  overflow: hidden;
}

#homePage > section > p,
#homePage > section > div > div > p {
  text-align: center;
}

.hero {
  height: 100vh;
  width: auto;
  position: relative;
  z-index: -1;
}

.heroWords {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  width: 100vw;
  opacity: 0;
}

.fadeIn {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.heroWords > span {
  font-size: 3rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.heroWords > p {
  font-size: 1.2rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.heroWords > a {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--sage);
  border: 2px var(--paleCrumble) solid;
  color: var(--paleCrumble);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.heroWords > a:hover {
  color: white;
  box-shadow: 0px 0px 10px var(--paleCrumble);
}

.whatDoula,
.faqBanner {
  background-color: var(--sage);
  color: var(--paleCrumble);
}

.whatDoula h2 {
  margin: 40px auto 15px;
  font-size: 2.25rem;
  text-align: center;
}

.whatDoula p,
.whyDoula p {
  margin-bottom: 30px;
}

.bee {
  position: absolute;
  width: 80px;
  height: 70px;
  background-image: url(../../assets/beeCrumbleCutout.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.8;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.beeOne {
  top: 30px;
  right: -5px;
  transform: rotate(-55deg);
}

.beeTwo {
  top: 5px;
  left: 30px;
  transform: rotate(30deg);
  z-index: 1;
}

.whyDoula {
  background-color: var(--meadow);
  color: var(--paleCrumble);
  padding-bottom: 30px;
}

.whyDoula h2 {
  margin: 15px auto;
  font-size: 2.25rem;
  text-align: center;
}

.beeThree {
  bottom: 10px;
  right: 20px;
  transform: rotate(115deg);
}

.bannerPhoto {
  background-image: url("../../assets/ImageThree.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100vw;
}

.serviceBanner {
  background-color: var(--crumble);
  padding: 30px 20px 40px;
  color: var(--meadow);
}

.serviceBanner > div {
  display: flex;
  justify-content: end;
}

.lilly {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 40vw;
  height: 250px;
  background-image: url(../../assets/LillyStencil.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 999;
}

.serviceWords {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 60vw;
}

.serviceWords > h2 > a {
  color: var(--meadow);
  font-size: 2.25rem;
}

.serviceWords > p {
  color: var(--meadow);
}

.serviceWords > a {
  color: var(--crumble);
  background-color: var(--meadow);
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 15px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.serviceWords > a:hover {
  box-shadow: 5px 5px 10px var(--sage);
  color: white;
}

.aboutBanner {
  background-color: var(--paleCherry);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutBanner h2 {
  font-size: 2.25rem;
  text-align: center;
  color: var(--paleCrumble);
}

.aboutCluster {
  margin: 15px 0 10px;
  width: 100vw;
}

.leftFrame {
  height: 425px;
  rotate: 180deg;
  width: 10vw;
  margin-left: 5vw;
}

.homeAboutPhoto {
  width: 70vw;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 2px solid var(--cherry);
}

.rightFrame {
  height: 425px;
  width: 10vw;
  margin-right: 5vw;
}

.aboutBanner > p {
  color: var(--paleCrumble);
  text-align: center;
}

.aboutBanner > p > a {
  color: var(--paleCrumble);
  margin-left: 10px;
}

.aboutBanner > p > a:hover {
  color: white;
}

.faqBanner {
  padding-bottom: 30px;
}

#faqHeader {
  text-align: center;
  font-size: 2rem;
  color: var(--paleCrumble);
  text-shadow: 4px 3px 2px var(--meadow);
}

.faqBanner > p > a {
  color: var(--paleCrumble);
  font-style: italic;
}

.faqBanner > p > a:hover {
  color: white;
}

.testimonialBanner {
  background-color: var(--cherry);
}

.multiWaves {
  aspect-ratio: 900/450;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0px;
}

.multiCherryCrumbleSVG {
  background-image: url(../../assets/smallCherryCrumble.svg);
}

.multiCherrySageSVG {
  background-image: url(../../assets/smallCherrySage.svg);
}

.flip {
  transform: rotate(180deg);
}

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .multiWaves {
    aspect-ratio: 1800/450;
  }

  .multiCherryCrumbleSVG {
    background-image: url(../../assets/bigCherryCrumble.svg);
  }

  .multiCherrySageSVG {
    background-image: url(../../assets/bigCherrySage.svg);
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
