.testSection {
  background-color: var(--testimonial);
  color: var(--paleCrumble);
  padding: 15px 20px;
  text-align: center;
}

.testSection > h2 {
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.testSection > h3 {
  font-style: italic;
  font-size: 1.2rem;
}

.testSection > h4 {
  font-style: italic;
  font-size: 1rem;
  text-align: end;
  margin-right: 5px;
}

.testContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 5px;
}

.testBlurb {
  position: relative;
  background-color: var(--paleCrumble);
  color: var(--cherry);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 40px;
}

.quotations {
  position: absolute;
  width: 60px;
  height: 80px;
  background-image: url(../../assets/Quotations.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.quoteTop {
  top: -35px;
  left: -10px;
}

.testForm {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.testForm > input,
.nameDiv > input,
.testForm > textarea {
  border: 2px var(--cherry) solid;
  border-radius: 5px;
  background-color: var(--paleCrumble);
}

.testForm > div {
  display: flex;
}

.nameDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

#firstNameTest {
  margin-right: 5%;
}

label {
  margin-top: 10px;
  text-align: start;
}

#messageTest {
  height: 30vh;
}

.testBtn {
  background-color: var(--paleCrumble);
  border: 2px var(--cherry) solid;
  padding: 5px 15px;
  color: var(--cherry);
  font-weight: bold;
  border-radius: 15px;
  margin: 20px 0 10px;
}

@media screen and (min-width: 575px) {
  .testSection {
    padding: 15px 40px;
  }

  .testBlurb {
    padding: 40px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .testSection {
    padding: 15px 60px;
  }
}

@media screen and (min-width: 992px) {
  .testSection {
    padding: 15px 80px;
  }
}

@media screen and (min-width: 1200px) {
  .testContainer {
    justify-content: space-between;
    margin-top: 30px;
  }

  .testBlurb {
    width: 40vw;
  }
}

@media screen and (min-width: 1400px) {
  .testSection {
    padding: 15px 120px;
  }

  .testContainer {
    margin: 40px 0;
  }
}
