/* Loading */

/* Home */
img {
  width: 100vw;
  height: 100vh;
}

/* About */

/* Testimonials */

/* Services */

/* FAQs */

/* Contact */
form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

form > div {
  display: flex;
}
