.faqSection {
  background-color: var(--meadow);
  position: relative;
  overflow: hidden;
}

.faqBackground {
  width: 450px;
  height: auto;
  rotate: -45deg;
  position: absolute;
  top: 100px;
  right: -200px;
  opacity: 0.2;
}

.faqHeader {
  padding: 50px 30px;
  margin-bottom: 50px;
}

.faqHeader > h2 {
  font-size: 5rem;
  margin: 0;
}

.faqHeader > h3 {
  font-size: 1rem;
  font-weight: lighter;
  width: 75%;
  position: relative;
  z-index: 1;
}

.faq {
  border-bottom: black 2px solid;
  margin: 5px 20px;
  position: relative;
  z-index: 1;
}

.faq > div {
  display: flex;
  justify-content: space-between;
}

.expandCheckbox {
  position: absolute;
  width: 100%;
  opacity: 0;
}

.answer {
  margin: 0;
  max-height: 1px;
  opacity: 0;
  transition: max-height 1s ease-in-out, opacity 0.5s;
}

.answerSelected {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 1s ease-in-out, opacity 0.5s;
  transition-delay: 0s, 0.5s;
  transition-property: max-height, opacity;
}

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
