footer {
  display: flex;
  flex-direction: column;
}

footer > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.logo > h4 {
  margin-bottom: 0;
}

.footerContact {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

.legal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legal > p {
  font-size: 0.75rem;
  margin: 15px 0 0 0;
}

.legal > div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 5px;
}

.legal > div > p {
  font-size: 0.75rem;
}

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
