:root {
  font-size: 16px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin: 40px 20px;
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.title {
  color: black;
}

/* Hamburger */
.hamburgerMenu {
}

.hamburgerContainer {
  width: 30px;
  height: 30px;
  position: relative;
  /* top: 30px;
  right: 30px; */
}

.hamburgerCheckbox {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
}

.bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: black;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.hamburgerCheckbox:checked + .hamburger > .bar1 {
  transform-origin: 5%;
  transform: rotate(45deg);
  width: 41px;
}

.hamburgerCheckbox:checked + .hamburger > .bar2 {
  transform: translateX(-40px);
  background-color: transparent;
}

.hamburgerCheckbox:checked + .hamburger > .bar3 {
  transform: translateX(40px);
  background-color: transparent;
}

.hamburgerCheckbox:checked + .hamburger > .bar4 {
  transform-origin: 5%;
  transform: rotate(-45deg);
  width: 41px;
}

.hamburgerCheckbox:checked

/* Navigation */
ul {
  display: flex;
  justify-content: end;
}

li {
  list-style: none;
  padding: 15px;
}

.navLink {
  color: black;
}

.active {
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: black 2px solid;
}

/* Home */
img {
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
