:root {
  font-size: 16px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin: 40px 20px;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

/* Navigation */
nav {
}

ul {
  display: flex;
  justify-content: end;
}

li {
  list-style: none;
  padding: 15px;
}

.navLink {
}

.active {
  color: red;
}
