:root {
  font-size: 16px;
}

.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.normal {
  font-style: normal;
}

.italics {
  font-style: italic;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.disableScroll {
  height: 100vh;
  overflow-y: hidden;
}

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
