nav > ul {
  display: flex;
  margin: 2rem 30px 0 0;
  z-index: 5;
  position: relative;
  z-index: 1;
}

nav > ul > li {
  list-style: none;
  padding: 15px;
}

.activeCrumble {
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: var(--paleCrumble) 2px solid;
}

.activeMeadow {
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: var(--meadow) 2px solid;
}

.activeWhite {
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: white 2px solid;
}

.activeCherry {
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: var(--cherry) 2px solid;
}

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
