.errorPage {
  background-color: var(--paleCrumble);
  color: var(--cherry);
  width: 100vw;
  height: 75vh;
}

.errorPage h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  padding-top: 50px;
}

.errorPage p {
  text-align: center;
  margin: 50px 40px;
}

.errorPage p > a {
  color: var(--cherry);
  font-style: italic;
}

.errorPage p > a:hover {
  color: white;
}

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
